@font-face {
  font-family: "Be Vietnam Pro";
  src: url("@/assets/fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Be Vietnam Pro";
  src: url("@/assets/fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: #fdfdfd;
  font-size: 16px;
  scroll-behavior: smooth;
  box-sizing: border-box;
  color: #113946;
}
